%fieldset
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :caption
    = f.text_field :caption
  = f.hidden_field :_destroy
  = link_to "remove", '#', class: "remove_fields"
