= render layout: 'layouts/content_heading', locals: { title: 'Listings' } do
  = link_to 'New Listing', new_listing_path, class: 'btn btn-primary'
.row
  .col-md-6.col-sx-12
    = form_tag listings_path, :method => :get, class: "form-inline" do
      .form-group
        = text_field_tag :term, params[:term], class: "form-control"
      = submit_tag "search", :name => nil, class: "btn btn-default"
  .col-md-6.col-sx-12
    = form_tag import_listings_path, multipart: true, class: "form-inline" do
      .form-group
        = file_field_tag :file, class: "form-control"
      = submit_tag "Import", class: "form-group btn btn-default"

.row.text-center
  = will_paginate @listings, renderer: BootstrapPagination::Rails


%table.table
  %thead
    %tr
      - [["Address", "address"],
         ["Bed", "beds"],
         ["Bath", "baths"],
         ["Park", "parking"],
         ["SQFT", "square_footage"],
         ["CDOM", "listing_date"],
         ["Asking Price", "asking_price"],
         ["Fees", nil],
         ["Images", nil],
         ["Rent Amount", "rent_amount"]].each do | label, order |
        - if order
          %th= link_to label, listings_path(order: params[:order] == order ? order + " DESC" : order, search: params[:search])
        - else
          %th= label
      %th

  %tbody
    - @listings.each do |listing|
      %tr
        %td
          = link_to truncate(listing.address).upcase, listing
          .pull-right
            = link_to 'Edit', edit_listing_path(listing)
            = link_to 'X', listing, method: :delete, data: { confirm: 'Are you sure?' }
        %td= listing.beds
        %td= listing.baths
        %td= listing.parking
        %td= listing.square_footage
        %td= listing.days_on_market
        %td= listing.asking_price_str[0...-3] + "K"
        %td= listing.fees_count.to_s + "/3"
        %td= listing.pictures.size
        %td= listing.rent_amount_str

.row.text-center
  = will_paginate @listings, renderer: BootstrapPagination::Rails
