= form_for @client do |f|
  - if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :down_payment
    = f.number_field :down_payment
    = f.select :down_payment_type, options_for_select([["$", "dollars"],["%", "percent"]])
  .field
    = f.label :interest_rate 
    = f.number_field :interest_rate
    \%
  .field
    = f.label :amort, "Amortorization"
    = f.number_field :amort
  .field
    = f.label "Agent"
    = f.collection_select :agent_id, Agent.all, :id, :name, :prompt => "Select an Agent"
  %h3  
    Showings
  = link_to_add_fields "Add Showing", f, :showings
  = f.fields_for :showings do |ff|
    = render 'showing_fields', f: ff
  .actions
    = f.submit 'Save'
