// %p
//   = link_to 'Edit', edit_client_path(@client)
//   \|
//   = link_to 'Back', clients_path
  
= render "client_header", client: @client
        
%ul.nav.nav-tabs
  %li{role: "presentation", class: "#{params[:view] ? '' : 'active'}"}
    = link_to 'Dashboard'
  %li{role: "presentation", class: "#{params[:view] == 'compare' ? 'active' : ''}"}
    = link_to 'Compare', view: "compare"
  %li{role: "presentation", class: "#{params[:view] == 'all' ? 'active' : ''}"}
    = link_to 'All Showings', view: "all"

.content.thumbnail
  - case params[:view]
    - when "compare"
      = render 'listings/order_by_links'
      = render 'listings/compare_listings', showings: @showings
    - when "all"
      .row
        .col-md-12
          = render 'listings/order_by_links'
      -unless @showings.empty?
        .row.text-center
          = will_paginate @showings, renderer: BootstrapPagination::Rails
        = render 'listings/dashboard_listing_set', {title: "All Listings", div_link_id: "asking", attr_label: "Asking Price: ",
                                                    link_name: "", showings: @showings, 
                                                    attr: "asking_price_str", client: nil, hidden: ""}
        .row.text-center
          = will_paginate @showings, renderer: BootstrapPagination::Rails
      -else
        = "Ask your Real Estate Agent how you can review your listings."
    - else
      .row 
        .col-md-12
      - unless @showings.empty?                              
        - @dashboard_listing_set.each do |ls|
          = render 'listings/dashboard_listing_set', ls
      -else
        = "Ask your Real Estate Agent how you can review your listings."
      
:javascript 
  $(function() {
    $('a.high-low-link').click(function(event){
      var id = event.target.id;
      event.preventDefault();
      $('div#'+ id).toggleClass('hide-div');
    });
  });
  $(function() {
    $('input.compare').click(function(event){
      var id = event.target.id;
      $('input#'+ id).toggleClass('hide-div');
    });
  });
  $(function () {
    $('[data-toggle="tooltip"]').tooltip({html: true})
  });