-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand', title: t('company') do
        = image_tag 'logo.png' , alt: t('company')
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.text-uppercase
        = render 'layouts/navigation_links'
      %ul.nav.navbar-nav.navbar-right
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown", role: "button", "aria-haspopup" => "true", "aria-expanded" => "false"}
              = current_user.email
              %span{class: "caret"}
            %ul.dropdown-menu
              %li= link_to "Change Password", edit_user_registration_path
              %li.divider{role: "separator"}
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          %li= link_to 'Sign In', new_user_session_path
